# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environments
# ======================
venv/
.env/

# ======================
# Databases
# ======================
*.db
*.db.backup
*.sqlite
*.sqlite3

# ======================
# Excel / exports
# ======================
*.xlsx
*.csv

# ======================
# PyInstaller
# ======================
build/
dist/
*.spec

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/

# ======================
# Logs
# =
git rm --cached -r __pycache__/